.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Weather Condition Backgrounds */

/* Cloudy Background */
.clouds {
  background-image: url('./image/dramatic-autumn-sky-stormy-clouds-600nw-2374757681.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rainy Background */
.rain {
  background-image: url('./image/rainy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Clear Background */
.clear {
  background-image: url('./image/clear.jpg'); /* Replace with your clear sky image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Haze Background */
.haze {
  background-image: url('./image/haze.jpg'); /* Replace with your haze image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Mist Background */
.mist {
  background-image: url('./image/mist.jpg'); /* Replace with your mist image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}




